.fieldWrapper{
  margin:8px 0px !important;
}

.fieldDescription{
    font-size: 8pt;
    color: #999999;
}

.fieldName{
    margin-bottom: 0px;
}

.tableContainer{
 height: 350px;
}

.productTableContainer{
  height: 500px;
 }

 .editButton{
   float:right;
 }
 .simpleCardProduct{
   margin: 0px auto;
 }

.imagePreviewItem{
  width:100%;
  min-height: 100px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f5f5f6;
}

.imagePreviewItem > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  object-fit: scale-down;
  height: 100%;
}

.imageinput{
    display: none;
}

.imagebox{
    width:200%;
    height:100%;
}

.uploadWrapper{
    width:80%;
    margin: 0 auto;
    display: block;
    padding:8px;
    border-radius:4px;
border-style: solid;
border-width: 1px;
border-color: rgba(0, 0, 0, 0.23);
}

.uploadBox{
    width:100%;
    min-height: 150px;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    background-color: #f5f5f6;
  }
  
  .uploadBox > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }

  .uploadBoxAdvance{
    width:100%;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #f5f5f6;
  }
  
  .uploadBoxAdvance > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    height: 100%;
  }

  .uploadPreview{
    width:100%;
    min-height: 100px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    background-color: #f5f5f6;
  }

  .uploadPreview > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    height: 100%;
  }


  .menuUploadButton{
    float: left;
    position: sticky;
    z-index: 999;
}

.menuUploadButton button{
  padding: 5px !important;
}


.uploadButton{
    float: right;
    position: sticky;
    z-index: 999;
}

.fileUploadButton{
    float: right;
    position: relative;
    top: -45px;
    right: 10px;
}

.fileUploadBox{
    margin:8px 0px;
    padding: 16px;
    display: block;
    width:100%;
    min-height: 150px;

border-radius:4px;
border-style: solid;
border-width: 1px;
border-color: rgba(0, 0, 0, 0.23);
}

.dropZoneArea{
    min-height: 0px !important;
}



.gridList {
  width: 500px;
  height: 450px;
}

.gridImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.titleBar {
  background: rgb(31,31,31) !important;
  background: linear-gradient(180deg, 
  rgba(31,31,31,0.23291323365283612) 0%, 
  rgba(31,31,31,0.12086841572566531) 76%, 
  rgba(185,185,185,0.11526617482930668) 87%, rgba(255,255,255,0) 94%) !important;
  text-shadow: 0px 1px 1px #a8a8a8;
  font-weight: bold;
}

.gridFooterBar {
  height: 35px  !important;
  background: rgba(31,31,31,0.468207351299895) !important;

}

.gridCheckBox {
  margin: 0px !important;
}

.icon {
  color: white !important
}

.gridList > img {
height: 60%;
}

.productItemTotalDisclaimer {
font-size: 9px;
font-family: "Manrope";
font-weight: 400;
line-height: normal;
font-style: italic;
text-align: justify;
}