.panel{
    background-color: #fff;
    border-radius: 5px;
    padding:16px;
}

.panelLabel{
    font-size: 15pt;
    font-family: "Manrope";
    font-weight: 200;
    line-height: 1.5;
}

.panelLink{
    float:right;
    font-size: 11pt;
    font-weight: 200;
}