.Strip{
    height: 25px;
    background-color: #d92424;
    width: 55%;
    float: right;
    box-shadow: 4px 1px 2px 0px #464646;
}


.Strip:after{
    content: '';
    position: absolute;
    top: 0;
    border-top: 25px solid #ececec;
    border-right: 20px solid #d92424;
    width: 0;
}