body{
    /* The image used */
    /* background-image: url(../../../assets/background/main_bg.jpg); */
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#root{
    height: 100%;
}