.header {
    background-color: #ececec;
    height: 114px;
    width: auto;
  
}

body{
    /* The image used */
    /* background-image: url(../../../assets/background/main_bg.jpg); */
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerPanel{
    background-image: url(../../../assets/background/banner.jpg);
    height: 300px;
    position: fixed;
    width: 100%;
    margin-top: 115px;
    z-index: 600;
}

.headerPanel{
        box-shadow: 0px -1px 3px 0px #464647;
}

.menuPanel{
    margin-top:29px;
}

nav #navHome{
    color: '#3f3e3e' !important;
}
 

