
#root {
    flex-grow: 1;
  }

.firstSection{
    min-height: 1500px; 
    background: rgba(255, 255, 255, 0.8);
}

.formContainer{
   margin-top:150px;
}



@media (min-width: 1025px) and (max-width: 1280px) {
    .typoSection{
        margin-top: 150px; 
    }

    .typoSection h2{
        font-size: 25pt
    }
    .typoSection p{
        font-size: 12pt
    }
  }

  @media (min-width: 1281px) {
    .typoSection{
        margin-top: 250px; 
    }
  }



.logo{
    z-index:3;
}