.supplierName{
    font-size: 10pt;
    font-weight: 200;
    margin-bottom: 0.35em;
}


.cardMedia{
    height: 140px;
    }

    .cardAction {
        padding:0px 8px;
    }

    .description{
        padding : 5px;
    }
    
  .actionButton {
    text-align: right;
  }