html{
  font-family: 'Manrope', sans-serif;
}

body, html{
  height: 100%;
  margin: 0;
  background-color: #eef0f8;
}

.content {
  flex-grow: 1;
  height: '100vh';
  overflow: 'auto';
  min-height: 900px;
margin-top: 150px;

z-index: 700;
position: relative;
}

.bannerPanel{
  background-image: url(/assets/background/banner.jpg);
  height: 300px;
  position: fixed;
  width: 100%;
  margin-top: 115px;
  z-index: 600;
}


 